<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>管理页面</title>
    <link href="../admin/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="topBox">
    <div class="top">
        <div class="logo">管理系统平台</div>
    </div>
    <ul class="daoList">
        <li><a href="#">个人信息</a></li>
        <li><a href="/admin/newslist">前台管理</a></li>
    </ul>
</div>
<div id="centerBox">
    <div class="cLeft">
        <ul class="smallClassList">
            <li><a href="/admin/newslist">最新资讯</a></li>
            <li><a href="/admin/varietylist">产品类型</a></li>
            <li><a href="/admin/productlist">产品上架</a></li>
        </ul>
    </div>
    <div class="cRight">
        <div class="weizhi">当前用户->admin</div>
        <div class="content">
            <div class="operation">
                <button type="button" class="buttonSty1"><a href="/admin/preaddnews">增加</a></button>
            </div>
            <div class="tab_Header">
                <table >
                    <tr>
                        <td width="95">编号</td>
                        <td width="97">标题</td>
                        <td width="251">摘要</td>
                        <td width="124">时间</td>
                        <td width="145">操作</td>
                    </tr>
                </table>
            </div>
            <div class="tab_Body">
                <table>
                    <% for (var i=0;i<news.length;i++) {%>
                    <tr class="bg1">
                        <td width="93"><%=news[i].id%></td>
                        <td width="98"><%=news[i].title%></td>
                        <td width="251"><%=news[i].summary%></td>
                        <td width="125"><%=news[i].content%></td>
                        <td width="145"><a href="/admin/modifynews?id=<%=news[i].id%>" class="xiugai">修改</a>&nbsp;&nbsp;<a href="/admin/newsdel?id=<%=news[i].id%>"  class="delete">删除</a></td>
                    </tr>
                   <%}%>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>