<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>管理页面</title>
    <link href="../admin/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="topBox">
    <div class="top">
        <div class="logo">管理系统平台</div>
    </div>
    <ul class="daoList">
        <li><a href="#">个人信息</a></li>
        <li><a href="/admin/newslist">前台管理</a></li>
    </ul>
</div>
<div id="centerBox">
    <div class="cLeft">
        <ul class="smallClassList">
            <li><a href="/admin/newslist">最新资讯</a></li>
            <li><a href="/admin/varietylist">产品类型</a></li>
            <li><a href="/admin/productlist">产品上架</a></li>
        </ul>
    </div>
    <div class="cRight">
        <div class="weizhi">当前用户->admin</div>
        <div class="content">
            <form id="formid" action="/admin/updatevariety" method="post">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
                    <tr>
                        <td width="30%" align="right">种类名称：</td>
                        <input id="id" name="id" type="hidden"  value="<%=variety.id%>">
                        <td  width="70%" align="left"><input id="name" name="name" type="text"  class="input1" value="<%=variety.name%>"></td>
                    </tr>
                    <td>&nbsp;</td>
                    <td align="left" style=" margin-top:10px"><input name="" type="button" onclick="back()" value="返回" class="buttonSty2">&nbsp;&nbsp;&nbsp;<input name="" type="button" onclick="submitData()"  value="提交" class="buttonSty3"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    function submitData() {
        var name = document.getElementById('name').value;

        if (name == '') {
            alert('名字不能为空');
            return;
        }

        document.getElementById("formid").submit();
    }

    function back() {
        history.back();
    }
</script>
</html>