<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>关于Hi菓</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wai_main">
<!--top start-->
    <div class="top">
    	<div class="dao_wai">
            <div class="dao" >
            <div class="logoSty" ><img src="images/logo.png" width="63" height="97"></div>
               <ul class="daoList">
                 <li onClick="javascript:qiehuan(0,6)"><a href="/" id="mynav0" class="timu_off">首页</a></li>
                 <li onClick="javascript:qiehuan(1,6)"><a href="/about" id="mynav1" class="timu_on">关于Hi菓</a></li>
                 <li onClick="javascript:qiehuan(2,6)"><a href="/proIndex" id="mynav2" class="timu_off">新鲜茶饮</a></li>
                 <li onClick="javascript:qiehuan(3,6)"><a href="/news" id="mynav3" class="timu_off">Hi菓新资讯</a></li>
                 <li onClick="javascript:qiehuan(4,6)"><a href="/cooperation" id="mynav4" class="timu_off">合作加盟</a></li>
                 <li onClick="javascript:qiehuan(5,6)"><a href="/recruitment" id="mynav5" class="timu_off">招聘启事</a></li>
               </ul>
             </div>
        </div>
    </div>
<!--top end-->
<!--center start-->
<div class="center width900">
	<div class="about1">
    	<div class="about1_left">
   	    	<img src="images/about1.jpg" width="360" height="198"> 
        </div>
        <div class="about1_right">
           <h1 class="bt6"><img src="images/bt6.png" ></h1>
           <p>
                HI菓是一家连锁新鲜茶饮专门店品牌，由在餐饮业具有多年运营管理经验的北京麥果餐饮管理有限公司创建，总部设立在北京。HI菓专注于生产健康的新鲜茶饮，选用优质原料，定期从世界各地寻找新鲜食材，将更多新鲜营养保留。HI菓经过科学配方研发,多次产品分析，最终选取口感上乘的饮品推向市场，目前品牌旗下包括40多款特色饮品，主打罗勒系列，鲜果茶系列，雪慕斯系列，白胡子系列，并为各个时节推出限定茶饮。产品口味多样化，其特点可以概括为新鲜，好喝，健康。产品价位亲民，门店分布于各大商区，广受消费者的欢迎。
          </p>
      </div>
   </div>
   <div class="about2">
    	<div class="about2_right">
          <img src="images/about2.jpg" width="312" height="275"> 
      </div>
      <div class="about2_left">
   	     <h1 class="bt6"><img src="images/bt7.png" ></h1>
           <p>
               新鲜好喝优质新鲜原材，自动化标准、快速作业方式，简化从制作到贩售的过程，让消费者从选购到饮用，享用最新鲜，
口感独特的精致茶饮。统一标准 品质保障为了保证HI菓茶饮的品质，HI菓公司设计了整套经营标准流程，从新鲜原料的选择至物流配送，统一标准化，确保品牌的优质呈现。选址灵活HI菓通过减少不必要的空间浪费，合理化调整结构，在有限空间内生产出高品质茶饮，在店面选址上有很大灵活性，选择面广，学校、医院、超市、广场、步行街、社区等附近都可以开设HI菓店面。
          </p>	
      </div>
   </div>
	
</div>
<!--center end-->
<!--底部 start-->
<div class="contact">
    <h1 class="bt5"><img src="images/bt8.png" ></h1>
    <div class="weixin"><img src="images/weixin.png" ></div>
    <div class="tel">
        加盟电话：4006-615-900（免费客服咨询专线）<br>
        客服邮箱：higuopost@qq.com
    </div> 
</div>
<!--底部 end-->
        
<div class="clear"></div>   
</div>

</body>
</html>
