<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>合作加盟</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wai_main">
<!--top start-->
    <div class="top">
    	<div class="dao_wai">
            <div class="dao" >
            <div class="logoSty" ><img src="images/logo.png" width="63" height="97"></div>
               <ul class="daoList">
                 <li onClick="javascript:qiehuan(0,6)"><a href="/" id="mynav0" class="timu_off">首页</a></li>
                 <li onClick="javascript:qiehuan(1,6)"><a href="/about" id="mynav1" class="timu_off">关于Hi菓</a></li>
                 <li onClick="javascript:qiehuan(2,6)"><a href="/proIndex" id="mynav2" class="timu_off">新鲜茶饮</a></li>
                 <li onClick="javascript:qiehuan(3,6)"><a href="/news" id="mynav3" class="timu_off">Hi菓新资讯</a></li>
                 <li onClick="javascript:qiehuan(4,6)"><a href="/cooperation" id="mynav4" class="timu_on">合作加盟</a></li>
                 <li onClick="javascript:qiehuan(5,6)"><a href="/recruitment" id="mynav5" class="timu_off">招聘启事</a></li>
               </ul>
             </div>
        </div>
    </div>
<!--top end-->
<!--ppt start-->
	<div class="ppt2" >
    	<div class="ppt2Img"></div>
    </div>
<!--ppt end-->
<!--center start-->
<div class="center width1013">
	<div class="hz_1">
    	<h1 class="bt6"><img src="images/bt9.png" width="140" height="34"></h1>
        <div class="hzCon">
   	    	<img src="images/hz1.jpg" width="930" height="660"> 
        </div>
    </div>
    <div class="hz_1">
    	<h1 class="bt7"><img src="images/bt10.png" width="140" height="34"></h1>
        <div class="hzCon">
   	    	<img src="images/hz2.jpg" width="930" height="970"> 
        </div>
    </div>
    <div class="hz_1">
    	<h1 class="bt7"><img src="images/bt11.png" width="140" height="34"></h1>
        <div class="hzCon bgColorSty1">
   	    	<img src="images/hz3.jpg" width="1013" height="612"> 
        </div>
    </div>	
  
</div>
<!--center end-->

        
<div class="clear"></div>   
</div>

</body>
</html>
