<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Hi菓新资讯</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<script language="JavaScript" type="text/javascript" src="js/qiehuan2.js" ></script>
<script  language="JavaScript" type="text/javascript"   src="js/pptBox.js"></script>
</head>
<body>
<div id="wai_main">
<!--top start-->
    <div class="top">
    	<div class="dao_wai">
            <div class="dao" >
            <div class="logoSty" ><img src="images/logo.png" width="63" height="97"></div>
               <ul class="daoList">
                 <li onClick="javascript:qiehuan(0,6)"><a href="index.html" id="mynav0" class="timu_off">首页</a></li>
                 <li onClick="javascript:qiehuan(1,6)"><a href="about.html" id="mynav1" class="timu_off">关于Hi菓</a></li>
                 <li onClick="javascript:qiehuan(2,6)"><a href="proIndex.html" id="mynav2" class="timu_off">新鲜茶饮</a></li>
                 <li onClick="javascript:qiehuan(3,6)"><a href="newList.html" id="mynav3" class="timu_on">Hi菓新资讯</a></li>
                 <li onClick="javascript:qiehuan(4,6)"><a href="cooperation.html" id="mynav4" class="timu_off">合作加盟</a></li>
                 <li onClick="javascript:qiehuan(5,6)"><a href="recruitment.html" id="mynav5" class="timu_off">招聘启事</a></li>
               </ul>
             </div>
        </div>
    </div>
<!--top end-->
<!--ppt start-->
	<div class="ppt" >
    	<div class="pptBox">
			 <script>
                 var box =new PPTBox();
                 box.width = 1024; //宽度
                 box.height = 446;//高度
                 box.autoplayer = 3;//自动播放间隔时间
             //box.add({"url":"图片地址","title":"悬浮标题","href":"链接地址"})
                 box.add({"url":"images/tu1.png","href":"#","title":"悬浮提示标题1"})
                 box.add({"url":"images/tu2.png","href":"#","title":"悬浮提示标题2"})
                
                 box.show();
            </script>
        </div>
    </div>
<!--ppt end-->
<!--center start-->
<div class="center width1024">
<h1 class="tm">Hi菓新品新鲜上市<span>2015 | 5</span></h1>
<div class="imgSty3"><img src="images/tu6.jpg"></div>
<div class="conSty3">
 <h2>关于HI菓</h2>
<p>
HI菓是一家连锁新鲜茶饮专门店品牌，由在餐饮业具有多年运营管理经验的北京麥果餐饮管理有限公司创建，总部设立在北京。HI菓专注于生产健康的新鲜茶饮，选用优质原料，定期从世界各地寻找新鲜食材，将更多新鲜营养保留。HI菓经过科学配方研发,多次产品分析，最终选取口感上乘的饮品推向市场，目前品牌旗下包括40多款特色饮品，主打罗勒系列，鲜果茶系列，雪慕斯系列，白胡子系列，并为各个时节推出限定茶饮。产品口味多样化，其特点可以概括为新鲜，好喝，健康。产品价位亲民，门店分布于各大商区，广受消费者的欢迎。</p>
</div>
<div class="line"></div>
<ul class="zxList">
	<li>
    	<div class="imgSty2"><img src="images/tu5.jpg" ></div>
        <div  class="nrSty">
        	<a href="newsShow.html">Hi菓新品新鲜上市</a><span>2015 | 5</span>
        </div>
    </li>
    <li>
    	<div class="imgSty2"><img src="images/tu5.jpg" ></div>
        <div  class="nrSty">
        	<a href="newsShow.html">Hi菓新品新鲜上市</a><span>2015 | 5</span>
        </div>
    </li>
    <li>
    	<div class="imgSty2"><img src="images/tu5.jpg" ></div>
        <div  class="nrSty">
        	<a href="newsShow.html">Hi菓新品新鲜上市</a><span>2015 | 5</span>
        </div>
    </li>
</ul> 
</div>
<!--center end-->
<div class="clear"></div>
<!--底部 start-->
<div class="contact">
    <h1 class="bt4"><img src="images/bt5.png" width="225" height="114"></h1>
    <div class="weixin"><img src="images/weixin.png" ></div>
    <div class="tel">
        加盟电话：4006-615-900（免费客服咨询专线）<br>
        客服邮箱：higuopost@qq.com
    </div> 
</div>
<!--底部 end-->
        
<div class="clear"></div>   
</div>

</body>
</html>
