<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Hi菓新资讯</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<script language="JavaScript" type="text/javascript" src="js/qiehuan2.js" ></script>
<script  language="JavaScript" type="text/javascript"   src="js/pptBox.js"></script>
</head>
<body>
<div id="wai_main">
<!--top start-->
    <div class="top">
    	<div class="dao_wai">
            <div class="dao" >
            <div class="logoSty" ><img src="images/logo.png" width="63" height="97"></div>
               <ul class="daoList">
                   <li onClick="javascript:qiehuan(0,6)"><a href="/" id="mynav0" class="timu_off">首页</a></li>
                   <li onClick="javascript:qiehuan(1,6)"><a href="/about" id="mynav1" class="timu_off">关于Hi菓</a></li>
                   <li onClick="javascript:qiehuan(2,6)"><a href="/proIndex" id="mynav2" class="timu_off">新鲜茶饮</a></li>
                   <li onClick="javascript:qiehuan(3,6)"><a href="/news" id="mynav3" class="timu_on">Hi菓新资讯</a></li>
                   <li onClick="javascript:qiehuan(4,6)"><a href="/cooperation" id="mynav4" class="timu_off">合作加盟</a></li>
                   <li onClick="javascript:qiehuan(5,6)"><a href="/recruitment" id="mynav5" class="timu_off">招聘启事</a></li>
               </ul>
             </div>
        </div>
    </div>
<!--top end-->
<!--ppt start-->
	<div class="ppt" >
    	<div class="pptBox">
			 <script>
                 var box =new PPTBox();
                 box.width = 1024; //宽度
                 box.height = 446;//高度
                 box.autoplayer = 3;//自动播放间隔时间
             //box.add({"url":"图片地址","title":"悬浮标题","href":"链接地址"})
                 box.add({"url":"images/tu1.png","href":"#","title":"悬浮提示标题1"})
                 box.add({"url":"images/tu2.png","href":"#","title":"悬浮提示标题2"})
                
                 box.show();
            </script>
        </div>
    </div>
<!--ppt end-->
<!--center start-->
<div class="center width1024">
<h1 class="tm"><%=newsDetail.title%><span><%=newsDetail.dateline%></span></h1>
<div class="imgSty3"><img src="<%=newsDetail.image%>"></div>
<div class="conSty3">
 <h2><%=newsDetail.title%></h2>
<p><%=newsDetail.content%></p>
</div>
<div class="line"></div>
<ul class="zxList">
    <%for(var i=0;i<news.length;i++){%>
    <li>
        <div class="imgSty2"><img src="<%=news[i].image%>" ></div>
        <div  class="nrSty">
            <a href="/newsshow?id=<%=news[i].id%>"><%=news[i].title%></a><span><%=news[i].dateline%></span>
        </div>
    </li>
    <%}%>
</ul>
</div>
<!--center end-->
<div class="clear"></div>
<!--底部 start-->
<div class="contact">
    <h1 class="bt4"><img src="images/bt5.png" width="225" height="114"></h1>
    <div class="weixin"><img src="images/weixin.png" ></div>
    <div class="tel">
        加盟电话：4006-615-900（免费客服咨询专线）<br>
        客服邮箱：higuopost@qq.com
    </div> 
</div>
<!--底部 end-->
        
<div class="clear"></div>   
</div>

</body>
</html>
