<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>

<link href="css/style.css" rel="stylesheet" type="text/css" />
<style type="text/css"> 
html,body{height:100%;padding:0;margin:0;}
</style>
</head>

<body>
<div class="proCon">
	<div class="imgSty">
    <img src="images/tu4.jpg" width="655" height="411" /> 
    </div>
    <p>
    	褪去晚冬的慵懒，好奇心随着春芽萌发了出来。香浓甜蜜的红豆，配以清泊淡雅的抹茶，口感柔顺细腻，初尝动人，回味倾心。恰到好处的互补，在初春里感受妙不可言。
   </p>
</div>
</body>
</html>
