<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新鲜茶饮</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<script language="JavaScript" type="text/javascript" src="js/qiehuan.js" ></script>
<script  language="JavaScript" type="text/javascript"   src="js/pptBox.js"></script>
</head>
<body>
<div id="wai_main">
<!--top start-->
    <div class="top">
    	<div class="dao_wai">
            <div class="dao" >
            <div class="logoSty" ><img src="images/logo.png" width="63" height="97"></div>
               <ul class="daoList">
                   <li onClick="javascript:qiehuan(0,6)"><a href="/" id="mynav0" class="timu_off">首页</a></li>
                   <li onClick="javascript:qiehuan(1,6)"><a href="/about" id="mynav1" class="timu_off">关于Hi菓</a></li>
                   <li onClick="javascript:qiehuan(2,6)"><a href="/proIndex" id="mynav2" class="timu_on">新鲜茶饮</a></li>
                   <li onClick="javascript:qiehuan(3,6)"><a href="/news" id="mynav3" class="timu_off">Hi菓新资讯</a></li>
                   <li onClick="javascript:qiehuan(4,6)"><a href="/cooperation" id="mynav4" class="timu_off">合作加盟</a></li>
                   <li onClick="javascript:qiehuan(5,6)"><a href="/recruitment" id="mynav5" class="timu_off">招聘启事</a></li>
               </ul>
             </div>
        </div>
    </div>
<!--top end-->
<!--center start-->
<div class="center920">
<div class="leftFrame">

</div>
    <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="225" name="fmTitle" align="center" valign="top"  >
        <iframe id="leftFrame" height="100%" src="/protree" border="0" frameborder="0"   scrolling="no">
        浏览器不支持嵌入式框架，或被配置为不显示嵌入式框架。</iframe>
        </td>
        <td align="center" valign="top">
         <iframe id="rightFrame" scrolling="no" height="100%" width="100%" src="/prodetail" name="mainFrame" border="0" frameborder="0" >
        浏览器不支持嵌入式框架，或被配置为不显示嵌入式框架。</iframe>
        </td>
      </tr>
    </table>
</div>
<!--center end-->
<div class="clear"></div>   
</div>

</body>
</html>
