<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wai_main">
<!--top start-->
    <div class="top">
    	<div class="dao_wai">
            <div class="dao" >
            <div class="logoSty" ><img src="images/logo.png" width="63" height="97"></div>
               <ul class="daoList">
                 <li onClick="javascript:qiehuan(0,6)"><a href="/" id="mynav0" class="timu_off">首页</a></li>
                 <li onClick="javascript:qiehuan(1,6)"><a href="/about" id="mynav1" class="timu_off">关于Hi菓</a></li>
                 <li onClick="javascript:qiehuan(2,6)"><a href="proIndex.html" id="mynav2" class="timu_off">新鲜茶饮</a></li>
                 <li onClick="javascript:qiehuan(3,6)"><a href="#" id="mynav3" class="timu_off">Hi菓新资讯</a></li>
                 <li onClick="javascript:qiehuan(4,6)"><a href="/cooperation" id="mynav4" class="timu_off">合作加盟</a></li>
                 <li onClick="javascript:qiehuan(5,6)"><a href="/recruitment" id="mynav5" class="timu_on">招聘启事</a></li>
               </ul>
             </div>
        </div>
    </div>
<!--top end-->
<!--ppt start-->
  <div class="ppt3" >
   	<img src="images/tu7.png" width="1024" height="410">    
  </div>
<!--ppt end-->
<!--center start-->
<div class="center width1024">
	<div class="re_1">
    	<img src="images/tu8.png" width="1024" height="263"> 
    </div>
    <div class="re_2">
    	<img src="images/tu9.png" width="1024" height="400"> 
    </div>
   
	
</div>
<!--center end-->

<div class="clear"></div>   
</div>

</body>
</html>
